/* app/components/Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #eaeaea;
  }
  .studentInfo {
    font-weight: bold;
  }
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }

.menuButton {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  display: block; /* Adjust with media queries for responsiveness */
  transition: transform 0.3s ease-in-out;
}

.menuButton.open {
  transform: rotate(90deg); /* Add transform on open */
}

.menu {
  list-style: none;
  position: absolute;
  top: 60px; /* Position below header */
  right: 2rem;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu li {
  margin-bottom: 0.5rem;
}
